.liked {
  color: #c78f03;
  cursor: pointer;
  transition: all 300ms ease;
  margin: 0 4px;
  font-size: 22px;
}

.liked:hover {
  /* color: #ba181b; */
  transform: scale(1.1);
}

.notLiked {
  color: #ba181b;
  cursor: pointer;
  transition: all 300ms ease;
  margin: 0 4px;
  font-size: 22px;
}

.notLiked:hover {
  color: #c78f03;
  transform: scale(1.1);
}

@media (max-width: 550px) {
  .liked,
  .notLiked {
    font-size: 28px;
  }
}