.container {
  padding: 40px 0;
  background-color: #242424;
}

.row {
  width: 100%;
  height: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 12px;
}

.pageTitle {
  padding-top: 16px;
  font-size: 88px;
  margin: 0;
  color: #c78f03;
}

.pageDescription {
  padding-bottom: 64px;
  text-align: center;
  position: relative;
}

.descriptionTopRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.iconWrapper {
  width: 20%;
  display: flex;
  justify-content: flex-start;
}

.selectWrapper {
  justify-self: center;
  width: 20%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.select {
  background-color: #e6e6e6;
  border-radius: 4px;
  border: 1px solid #dcdfe6;
  color: #242424;
  height: 40px;
  line-height: 40px;
  outline: none;
  padding: 0 16px;
  cursor: pointer;
}

.backArrow {
  display: flex;
  justify-content: flex-start;
  color: white;
  cursor: pointer;
  transition: all 300ms ease;
  font-size: 40px;
}

.backArrow:hover {
  transform: scale(1.1);
  color: #ba181b;
}

.backArrow:active {
  transform: scale(0.85)
}

.my-list__title {
  margin: 0;
}

.my-list__text {
  text-align: center;
}

.mediaContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.white {
  color: white;
}

.errorPage {
  height: calc(100vh - 275px);
  padding-top: 80px;
  font-family: 'Roboto', sans-serif;
}

@media (max-width: 655px) {
  .descriptionTopRow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 32px;
  }

  .iconWrapper {
    justify-content: center;
  }

  .selectWrapper {
    width: 40%;
    display: flex;
    justify-content: center;
  }
}